.sprite-git-icon {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        height: 44px;
        background: url("/img/app_icon.png") no-repeat;
        background-position: -88px 0px;
      }
.sprite-top-hover {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        height: 60px;
        background: url("/img/app_icon.png") no-repeat;
        background-position: 0px 0px;
      }
.sprite-top {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        height: 60px;
        background: url("/img/app_icon.png") no-repeat;
        background-position: -44px 0px;
      }