.sprite-git-icon {
        display: inline-block;
        vertical-align: middle;
        width: 44px;
        height: 44px;
        background: url("/img/app_icon.png") no-repeat;
        background-position: 0px 0px;
      }